<%- include('partials/header') %> 
    <header id="header-contato">
        <section id="contato-info">
            <h1>CONTATO</h1>
        </section>
        <%- include('partials/navbar') %>
    </header>

    <footer>
        <h2>FALE CONOSCO</h2>
        <p>Dúvidas, críticas ou sugestões? Entre em contato conosco, preenchendo o formulário abaixo.</p>
        
        <section id="contato"> 
              <h2>Contato</h2>
              <%# Verifica se a variável mensagemSucesso foi passada pelo controller %>
              <% if (typeof mensagemSucesso !== 'undefined' && mensagemSucesso) { %>
                <div style="padding: 10px; margin-bottom: 15px; background-color: lightgreen; border: 1px solid green; color: darkgreen;">
                  <%= mensagemSucesso %>
                </div>
              <% } %>

              <%# Verifica se a variável mensagemErro foi passada pelo controller %>
              <% if (typeof mensagemErro !== 'undefined' && mensagemErro) { %>
                <div style="padding: 10px; margin-bottom: 15px; background-color: lightcoral; border: 1px solid red; color: darkred;">
                  <%= mensagemErro %>
                </div>
              <% } %>

              <form action="/contato/enviar" id="form" method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="name" placeholder="nome" name="name" required>
              </div>
  
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="email@exemplo.com" name="email" required>
              </div>

              <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="telefone" placeholder="119XXXXYYYY" name="telefone" maxlength="11" required>
              </div>
  
              <div class="mb-3">
                <label for="message" class="form-label">Mensagem</label>
                <textarea name="message" class="form-control" id="message" rows="3" name="message" required></textarea>
              </div> 

              <div class="col-12" style="text-align: center; margin-bottom: 15px;">
                <button class="btn btn-primary" type="submit">Enviar</button>
              </div>
            </form>
        </section>

        <!-- Adicionar algo como links 
          <section id="social-media">
            <p>Facebook</p>
            <p>Instagram 2</p>
        </section> -->
<%- include('partials/footer') %>